<h3> <%= "#{current_person.name}'s Profile"%> </h3>
<p> DOB : <%= @athlete.dob %> </p>
<p> Gender :<%= @athlete.gender %> </p>
<p> Country : <%= @athlete.country %> </p>
<p> Height : <%= @athlete.height %> </p>
<p> Weight : <%= @athlete.weight %> </p>

<%= link_to "Edit Personal Info", edit_athlete_path(@athlete) %> <br/>
<%= link_to "Edit Stats", edit_athlete_stat_path(@athlete) %>


<%= render :partial => "stats/stats", :locals => {:athlete => @athlete} %>





<%#= link_to "Delete", athlete_path(@athlete), :method => :delete, :confirm => "Are u sure ? " %>


