%h3
  = "#{current_person.name}'s Profile"
%br
%h4
  = "Sport : #{current_person.sport}"
%br
.personal_info
  .edit_link
    = link_to "Edit", edit_athlete_path(@athlete)
  %p
    DOB :
    %span
      =@athlete.dob
  %p
    Gender :
    %span
      = @athlete.gender
  %p
    Country :
    %span
      = @athlete.country
  %p
    Height :
    %span
      = @athlete.height
  %p
    Weight :
    %span
      = @athlete.weight

.stat_info
  .edit_link
    = link_to "Edit", edit_athlete_stat_path(@athlete)

  = render :partial => "stats/stats", :locals => {:athlete => @athlete}



