<p> Matches : <%= @athlete.stat.matches %> </p>
<p> Wins : <%= @athlete.stat.wins %> </p>
<p> Losses : <%= @athlete.stat.losses %> </p>
<p> Position : <%= @athlete.stat.position %> </p>
<p> Goals : <%= @athlete.stat.goals %> </p>
<p> Assists : <%= @athlete.stat.assists %> </p>
<p> Clean Sheets : <%= @athlete.stat.cleansheets %> </p>