<h4>Stats</h4> <br/>
<p> Matches : <span> <%= @athlete.stat.matches %> </span> </p>
<p> Wins : <span> <%= @athlete.stat.wins %> </span> </p>
<p> Losses : <span> <%= @athlete.stat.losses %> </span> </p>
<p> Position : <span> <%= @athlete.stat.position %> </span> </p>
<p> Goals : <span> <%= @athlete.stat.goals %> </span> </p>
<p> Assists : <span> <%= @athlete.stat.assists %> </span> </p>
<p> Clean Sheets : <span> <%= @athlete.stat.cleansheets %> </span> </p>